nav{
    margin: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
   height: 5vh;
   min-height: 100px;
}
nav .logo{
    cursor: pointer;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li a, #link{
    margin-right: 30px;
    cursor: pointer;
    color: black;
    transition: .2s;
}

nav ul li a:hover, #link:hover{
    color: green;
}
